/* 侧边栏个人信息卡片动态渐变色
#aside-content > .card-widget.card-info {
    background: #a3e9eb;     
    background: #e8d8b9;
    background:linear-gradient(
        -45deg,
        #e8d8b9,
        #eccec5,
        #a3e9eb,
        #bdbdf0,
        #eec1ea
      ); 
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
  }
*/
  /* 黑夜模式适配 */
/*
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background: #191919ee;
  }
*/
/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
  }